.swiper-button-prev,
.swiper-button-next {
  font-size: 20px !important;
  color: black;
  width: 20px;
  height: 30px !important;
}

@media (max-width: 639px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
}
